[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
django = "==2.2.24"
pillow = "*"
urllib3 = "*"
django-extensions = "*"
channels = "*"
channels-redis = "*"

[dev-packages]
django-extensions = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
