body {
  margin: 0;
  font-family: sans-serif;
}

main {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}

main section {
  margin: 20px 30px;
}

main a, nav a {
  text-decoration: none;
  color: inherit;
}

nav {
  z-index: 100;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  font-weight: bold;
}

.hidden {
  opacity: 0;
}

.hidden.hover:hover {
  opacity: 0.7;
}

.slide {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

a#back {
  position: absolute;
  color: #555;
  text-decoration: none;
  font-size: 50px;
  top: 50%;
  transform: translateY(-50%);
}

a#back {
  left: 0;
}

a#back div {
  padding: 20px;
  background: #DDD;
}

main#intro {
  z-index: -1;
  background-color: black;
  background: url('/media/backgrounds/audience-auditorium-back-view-713149.jpg') center center / cover;
}

#intro .button {
  padding: 15px 40px;
  display: inline-block;
  color: #555;
  margin: 20px;
  margin-bottom: 0;
}

#intro .button a {
  color: #555;
  font-weight: bold;
}

#intro .text {
  padding: 20px 50px;
  color: #555;
  margin: 20px 10%;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

#intro h1 {
  color: white;
  font-size: 3rem;
}

.timer {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  font-size: 5rem;
  display: inline-block;
}

main#next_round {
  z_index: -1;
  background-color: black;
  background: url('/media/backgrounds/stadium_applause_sml.jpg') center center / cover;
}

#next_round .button {
  padding: 15px 40px;
  display: inline-block;
  color: #555;
  margin: 20px;
  margin-bottom: 0;
}

#next_round .button a {
  color: #555;
  font-weight: bold;
}

#next_round .text {
  padding: 20px 50px;
  color: #555;
  margin: 20px 10%;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

#next_round h1 {
  color: white;
  font-size: 3rem;
}

div.white {
  background-color: white;
}

div.done {
  background-color: rgba(180, 10, 20, 0.9);
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#intro footer .button {
  padding: 12px 30px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #444;
}