body {
  margin: 0;
  font-family: sans-serif;
}

main {
  margin: 20px 30px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #EEE;
}

nav.hidden {
  opacity: 0;
}

nav.hidden:hover {
  opacity: 0.7;
}

nav * {
  margin: 10px;
}

.slide {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}