<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Stochastica{% endblock %}</title>
    {% load i18n static %}
    <link rel="stylesheet" type="text/css" href="{% static 'presentation/css/style.css' %}">
    <script src="{% static 'presentation/js/jquery-3.3.1.min.js' %}"></script>
  </head>
  <body>
    <div class="{% block nav_class %}{% endblock %}">
      {% include 'nav.html' %}
    </div>
    <main id="{% block main_id %}{% endblock %}">
      {% block content %}
      {% endblock %}
    </main>
    {% block script %}{% endblock %}
  </body>
</html>
