{% extends 'base.html' %}

{% block title %}Stochastica - Play Game{% endblock %}

{% load i18n static %}

{% block script %}


    <script>

        var controllerSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/play/controller/');

        var next = {{ next }}
        var prev = {{ prev }}
        var base_url = (window.location.href.split("?")[0])

        controllerSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            if (message == "next_slide") {
                window.location.href = (base_url + "?index=" + next)
            } else if (message == "prev_slide") {
                window.location.href = (base_url + "?index=" + prev)
            } else if (message =="end_game") {
                window.location.href = (base_url + "next_round")
            } else if (message =="get_host") {
                document.querySelector('#controller-log').value += (window.location.host + '\n')
            };
        };

        controllerSocket.onclose = function(e) {
            console.error('controller socket closed unexpectedly');
        };

    </script>
{% endblock %}

{% block nav_class %}hidden hover{% endblock %}

{% block main_id %}slide{% endblock %}

{% block content %}
  <a id="next" href="{% url 'slide' game_id %}?index={{ next }}">
    <div class="slide" style='background-image: url("{{ image }}")'>
    </div>
  </a>
  <a id="back" class="hidden hover" href="{% url 'slide' game_id %}?index={{ prev }}">
    <div>
      <p><</p>
    </div>
  </a>
  <div class="timer">
  </div>
  <div class="time hidden">
    {{ elapsed_time }}
  </div>
  <a href="{% url 'next_round' game_id %}">
    <div class="done">
      I'm done
    </div>
  </a>
{% endblock %}

