{% extends 'base.html' %}

{% block title %}Stochastica - Next Player!{% endblock %}

{% block main_id %}next_round{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Next Player</title>
</head>
<section>
  <h1>Stochastica</h1>
  <h2>Your game: {{ game_id }}</h2>
  <a href="{% url 'slide' game_id %}">
    <div class="button white">
      Next round!
    </div>
  </a>
</section>

<section>
  <a href="{% url 'end_game' game_id %}">
    <div class="button white">
      End the game :(
    </div>
  </a>
</section>

</html>

{% endblock %}
