{% extends 'base.html' %}

{% block title %}Stochastica - Next Player!{% endblock %}

{% block main_id %}next_round{% endblock %}

{% block script %}
<script>
    var controllerSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/play/{{ game_id }}/');
    var slide_url = "{% url 'slide' game_id %}";

    controllerSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        console.log(message);
        if (message == "start_game") {
            window.location.href = slide_url
        } else if (message == "get_host") {
            document.querySelector('#controller-log').value += (window.location.host + '\n')
        };
    };

    controllerSocket.onclose = function (e) {
        console.error('controller socket closed unexpectedly');
    };

</script>

{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Next Player</title>
</head>
<section>
  <h1>Stochastica</h1>
  <h2>Your game: {{ game_id }}</h2>
  <a href="{% url 'slide' game_id %}">
    <div class="button white">
      Next round!
    </div>
  </a>
</section>

<section>
  <a href="{% url 'end_game' game_id %}">
    <div class="button white">
      End the game :(
    </div>
  </a>
</section>

</html>

{% endblock %}
